*{
    text-align: center;
   margin: 0;
}
h1{
 font-family:font-family: 'Dancing Script', cursive;
 font-family: 'Lugrasimo', cursive;
 font-family: 'Montserrat', sans-serif;
 font-family: 'Pacifico', cursive; ;
    font-size: 50px;
    padding-top: 20px;
    background-color: rgb(174, 43, 226);
}
.Web{
    font-size: 20px;
}
span{
    font-family: 'Dancing Script', cursive;
    font-family: 'Lugrasimo', cursive;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Pacifico', cursive;
    font-family: 'Work Sans', sans-serif;  
padding-bottom: 50%;
}

