.pink{
    width: 200px;
    height:100px;
    position: relative;
    background-color: pink
}
.purple{
width: 200px;
height:100px;
position: relative;
z-index: -1;
background-color: purple;
}
.blue{
    width: 200px;
    height:100px;
    background-color: blue;
}
.red{
    width: 200px;
    height:100px;
    background-color: red;
        
}